.listText
	margin 40px 0 50px
	ul
		padding-left 0
		li
			margin-bottom 25px

.logo
	border-radius 50%
	width 150px
	height 150px
	overflow hidden
	margin 25px auto
	img
		width 100%

.sections
	ul
		display flex
		flex-wrap wrap
		margin-bottom 0
		li
			width 50%
			position relative
			.layer
				background rgba(0,0,0,.2)
				position absolute
				top 0
				left 0
				right 0
				bottom 0
			a
				display flex
				flex-direction column
				position relative
				height 150px
				align-items center
				justify-content space-around
				text-align  center
				color white
				font-size 17px
				font-weight bold
				padding 15px 10px
				p
					margin-top 0
					margin-bottom 5px
			&:nth-child(1)
				background url('https://lorempixel.com/600/400/nature/4') center no-repeat
			&:nth-child(2)
				background url('https://lorempixel.com/600/400/nature/3') center no-repeat
			&:nth-child(3)
				background url('https://lorempixel.com/600/400/nature/8') center no-repeat
			&:nth-child(4)
				background url('https://lorempixel.com/600/400/nature/1') center no-repeat
				// p
				// 	po